
/* ------ Utilities ------ */

  .clear { clear: both; }

/* ------ /Utilities -------- */

/* ------ Main page ------ */
 
  body,
  #wrapper {
    margin-bottom: 0;
    padding: 0;
  }


  #wrapper h1,
  #toolbar,
  #footer {
    padding: 5px 0;
    margin: 0;
    background: #464646;
  }

  #toolbar #buttons-container,
  #toolbar #labels-container {
    text-align: center;
  }

  #toolbar #buttons-container { margin-bottom: 2px; }

  #toolbar #buttons-container button { margin-left: 6px; padding: 6px 17px; }
  #toolbar #buttons-container button:first-child { margin-left: 0; }

  #wrapper h1,
  #options-page h2 {
    color: #ffffff;
    text-align: center;
    text-shadow: 1px 1px 0 #000000;
    letter-spacing: 2px;
    font-weight: normal;
    text-transform: uppercase;
  }

  #arena {
    background: #000000;
  }

  #arena .cell {
    background: #000000;
    /*border: 1px solid #cccccc;*/
    border-width: 0 0 1px 1px;
    float: left;
  }

  #arena .cell.alive {
    background-color: #880000;
  }


  #cells-label,
  #generations-label { 
    font-size: 12px; 
    letter-spacing: 1px; 
    text-shadow: 1px 1px 0 #000000; 
  }

  #footer { 
    font-size: 10px; 
    font-style: italic; 
    color: #ffffff; 
    text-align: center; 
    text-shadow: 1px 1px 0 #000000; 
    padding: 30px 0;
  }


/* ------ /Main page ------ */

/* ------ Options page ------ */
  
  #options-page {
    background: #464646;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  #options-page #top-container { margin-bottom: 10px; }
  #options-page #form-container { margin: 0 10px; }

  #options-page label { color: #ffffff; }

/* ------ /Options page ------ */
